* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #630d0d;
    color: white;
    padding: 10px 20px; /* Ajuste a altura do header */
}

.header-content {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: space-between; /* Espaço entre bandeira e texto */
}

header img {
    border: 3px solid black;
    width: 350px;
    height: 200px; /* Ajuste o tamanho da bandeira se necessário */
    margin-left: 300px;
}

header h1 {
    margin-left: 20px; /* Espaço entre a bandeira e o título */
}

header p {
    font-weight: 100;
}

nav {
    background-color: #149429;
    height: 40px;
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center; /* Centraliza os itens na nav */
}

nav ul li {
    margin: 0 15px; /* Espaço entre os itens do menu */
    list-style: none;
}

nav ul li a {
 
    text-decoration: none;
    color: white; 
}

nav ul li a:hover {
    color: #ee1818;
}

section {
    flex: 1; /* Faz com que a seção principal ocupe o espaço restante */
}

footer {
    background-color: #630d0d; /* Cor de fundo do footer */
    color: white; /* Cor do texto do footer */
    text-align: center; /* Centraliza o texto no footer */
}